<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.demo.auto.dao.CrProjectDAO">

    <resultMap id="BaseResultMap" type="com.boot.demo.auto.entity.CrProject">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="group_code" property="groupCode" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="is_delete" property="isDelete" jdbcType="BIGINT"/>
        <result column="creator_id" property="creatorId" jdbcType="VARCHAR"/>
        <result column="modifier_id" property="modifierId" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BASE_All_COLUMN">
        id, group_code, name, is_delete, creator_id,
        modifier_id, create_date, modify_date
    </sql>

    <insert id="insert" parameterType="com.boot.demo.auto.entity.CrProject">
        INSERT INTO cr_project (
        group_code, name, is_delete,
        creator_id, modifier_id, create_date,
        modify_date )
        VALUES (
        #{groupCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{isDelete,jdbcType=BIGINT},
        #{creatorId,jdbcType=VARCHAR}, #{modifierId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP},
        #{modifyDate,jdbcType=TIMESTAMP} )
        <selectKey keyProperty="id" resultType="long">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
    </insert>

    <insert id="insertSelective" parameterType="com.boot.demo.auto.entity.CrProject">
        INSERT INTO cr_project
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="groupCode != null">
                group_code,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="modifierId != null">
                modifier_id,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="modifyDate != null">
                modify_date,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffixOverrides="," suffix=")">
            <if test="groupCode != null">
                #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIGINT},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null">
                #{modifierId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                #{modifyDate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO cr_project (
        group_code, name, is_delete,
        creator_id, modifier_id, create_date,
        modify_date )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.groupCode,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.isDelete,jdbcType=BIGINT},
            #{item.creatorId,jdbcType=VARCHAR}, #{item.modifierId,jdbcType=VARCHAR}, #{item.createDate,jdbcType=TIMESTAMP},
            #{item.modifyDate,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <delete id="deleteByPrimaryKey" parameterType="com.boot.demo.auto.entity.CrProject">
        DELETE FROM cr_project
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>

    <update id="updateByPrimaryKeySelective" parameterType="com.boot.demo.auto.entity.CrProject">
        UPDATE cr_project
        <set>
            <if test="groupCode != null">
                group_code = #{groupCode,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIGINT},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=VARCHAR},
            </if>
            <if test="modifierId != null">
                modifier_id = #{modifierId,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyDate != null">
                modify_date = #{modifyDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.boot.demo.auto.entity.CrProject">
        UPDATE cr_project
        SET group_code = #{groupCode,jdbcType=VARCHAR},
        name = #{name,jdbcType=VARCHAR},
        is_delete = #{isDelete,jdbcType=BIGINT},
        creator_id = #{creatorId,jdbcType=VARCHAR},
        modifier_id = #{modifierId,jdbcType=VARCHAR},
        create_date = #{createDate,jdbcType=TIMESTAMP},
        modify_date = #{modifyDate,jdbcType=TIMESTAMP}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>

    <select id="getById" resultMap="BaseResultMap" parameterType="com.boot.demo.auto.entity.CrProject">
        SELECT
        <include refid="BASE_All_COLUMN"/>
        FROM cr_project
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
</mapper>